body {
    margin: 0;
    padding: 0;
}

.nav-header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #d7c0c0;
    border: 0;    
}

.nav-logo {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 20px 0px 0px;    
    width: 40px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}