:root {
    --primary-color: #7B1E3A;
    --secondary-color: #4B2142;
    --background-color: #F5F0E6;
    --text-color: #000000;
    --deco-color: #C9A227;
    --deco2-color: #3E6B48;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 130px;
    justify-content: center;
    background-color: var(--primary-color);
    border: 0;
}

.nav-main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    height: 80px;
    align-items: center;
    gap: 20px;
    padding: 0px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    margin: 0px;
    padding:8px 12px;
    justify-content: center;    
    font-weight: 400;
}

.nav-links>li>a {
    display: grid;
    grid-template-columns: 1fr;
    padding: 11px;
    margin: 0px;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}

.nav-links>li {
    list-style: none;
}

.nav-links>li>a:hover {
    background-color: #fafafa;
    color: #313131;
    transition: 0.3s;
}

.nav-search {
    display: flex;
    justify-content: center;
}

.nav-search>input {    
    width: 30vw;
    height: 35px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Proxima Nova", Arial, sans-serif, sans-serif;
    border: none;
}

.nav-right {
    width:150px;
} /* reserva opcional para futuro (usuario/carrito) */

.btn-search {
    height: 35px;
    border: none;
}

.img-search {
    opacity: 0.5;
}

.header-article {
    background-image: url(./img/img-index.jpg);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.header-article::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* filtro oscuro */
}

.header-article>div>h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: var(--background-color);
    font-weight: 100;
}

.header-article>div>h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: var(--background-color);
    font-weight: 100;
}

.header-article-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #474747a2;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 200px;
    height: 400px;
    background-color: #cfcfcf;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.product-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}